<div class="auth-container">
    <div class="auth-form-container">
        <h1 class="auth-name">MaratON</h1>
        <h1>Inicia Sesión</h1>
        <form [formGroup]="form" (ngSubmit)="login()">
            <input formControlName="email" placeholder="Correo" type="email" />
            <div class="error" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
                Ingresa un correo válido
            </div>

            <input formControlName="password" type="password" placeholder="Contraseña" />
            <div class="error" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
                Mínimo 8 caracteres
            </div>

            <button type="submit" [disabled]="form.invalid">Entrar</button>
        </form>
        <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
        <p class="switch">¿No tienes cuenta? <a routerLink="/register">Regístrate aquí</a></p>
    </div>
</div>