<app-navbar></app-navbar>

<div class="home-container">
  <h1 id="bienvenida">Bienvenido a MaratON</h1>

  <section *ngIf="(nowPlaying$ | async)?.length" id="cartelera">
    <app-title-carousel
        titleSection="En Cartelera"
        [titles]="nowPlaying$ | async">
    </app-title-carousel>
  </section>

  <section *ngIf="(popular$ | async)?.length" id="populares">
    <app-title-carousel
        titleSection="Populares"
        [titles]="popular$ | async">
    </app-title-carousel>
  </section>

  <section *ngIf="(topRated$ | async)?.length" id="valoradas">
    <app-title-carousel
        titleSection="Mejor Valoradas"
        [titles]="topRated$ | async">
    </app-title-carousel>
  </section>

  <section *ngIf="(upcoming$ | async)?.length" id="proximamente">
    <app-title-carousel
        titleSection="Próximamente"
        [titles]="upcoming$ | async">
    </app-title-carousel>
  </section>

</div>